version: '3.8'

services:
  # 1. Nosso Ambiente de Desenvolvimento (Jupyter + GPU)
  recsys-lab:
    build: .
    container_name: recsys_dev_lab
    volumes:
      - ./:/app  # Bind mount para editar código localmente
      - ./data:/app/data # Persistência de datasets
    ports:
      - "8888:8888" # Jupyter
      - "5000:5000" # MLflow UI
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    # A Mágica do GPU acontece aqui:
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    command: bash -c "jupyter lab --ip=0.0.0.0 --allow-root --no-browser --NotebookApp.token='recsys'"
    depends_on:
      - qdrant
      - redis

  # 2. Vector Database (Qdrant) [cite: 25, 106]
  # Essencial para a fase de Retrieval (Candidate Generation)
  qdrant:
    image: qdrant/qdrant:latest
    container_name: recsys_qdrant
    ports:
      - "6333:6333" # Porta API
    volumes:
      - ./qdrant_storage:/qdrant/storage

  # 3. Redis Cache [cite: 111]
  # Essencial para reduzir latência de features em tempo real
  redis:
    image: redis:alpine
    container_name: recsys_redis
    ports:
      - "6379:6379"

  # 4. MLflow Tracking Server (Opcional por agora, mas bom ter)
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.7.1
    container_name: recsys_mlflow
    ports:
      - "5001:5000"
    command: mlflow server --backend-store-uri sqlite:///mlflow.db --default-artifact-root ./mlruns --host 0.0.0.0